{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Small Business - Start Bootstrap Template</title>

      <!-- Bootstrap core CSS -->
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="{% static 'css/small-business.css' %}" rel="stylesheet">

    </head>

    <body>
        <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Suhyun'Lee Website</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'posts:main' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'posts:service' %}">Services</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'posts:show' %}">Project</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <hr>
        <hr>


    <div style="text-align: center">
        <form class="form-inline my-2 my-lg-0 ca" action="{% url 'posts:search' %}" method="post">
            {% csrf_token %}
          <input type="text" class="form-control" placeholder="Search for..." name="q" value="{{ q }}">
          <span class="input-group-append">
            <button class="btn btn-secondary" type="submit">Go!</button>
          </span>
        </form>
    </div>
      <!-- Page Content -->
      <div class="container">
        <hr>
        {% if not posts %}
            <!-- Call to Action Well -->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
              <div class="card-body">
                <p class="text-white m-0">No results were found for your search.</p>
              </div>
            </div>
        {% else %}
          <div class="row">
              {% for post in posts %}
                      <div class="col-md-4 mb-5">
                        <div class="card h-100">
                          <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.content|safe }}</p>
                          </div>
                          <div class="card-footer">
                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm" style="color: #f7f7f7; background-color: #545b62; border-color: #4e555b;">상세보기</a>
                          </div>
                        </div>
                      </div>
                  <hr>
              {% endfor %}
          </div>
        {% endif %}

      </div>
      <!-- /.container -->

      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    </body>

</html>
